<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Top Clientes</h1>
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <strong>
                                <th>N°</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Télefono</th>
                                <th>Acciones</th>

                        </strong>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% let cont = 0; %>
                    <% clientes.forEach(function(cliente) { %>
                        <% cont+=1 %>
                        <tr>
                            <td><%- cont %></td>
                            <td><%- cliente.nombre %></td>
                            <td><%- cliente.email %></td>
                            <td><%- cliente.telefono %></td>
                            <td>
                                <button type="button" class="btn btn-1">Detalles</button>
                                <button type="button" class="btn btn-2">Editar</button>
                                <button type="button" class="btn btn-3">Eliminar</button>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

<style>
    .jumbotron {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        border-radius: 20px !important;
        box-shadow: -5px 5px 20px 2px rgba(0,0,0,0.5);
        margin-top: 20px;
        margin-bottom: 40px;
        transition: transform 0.2s ease;
        padding: 20px;

        table {
            width: 100%;
        }
    }

    .jumbotron:hover {
        transform: translateY(-2px);
    }

    .jumbotron table {
        text-align: center;
    }

    .jumbotron table .btn {
        background-color: #b3b1c0;
        color: #000;
    }
    .jumbotron table {
        .btn-1:hover {
            color: yellow;
        }
        .btn-2:hover {
            color: greenyellow;
        }
        .btn-3:hover {
            color: red;
        }
    }

    footer {
        margin-top: 40px;
    }
</style>

<script>
    new DataTable('#myTable');
</script>

</body>
</html>